<Router AppAssembly="typeof(Program).Assembly">
    <Found>
        <RouteView RouteData="@context" />
    </Found>
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">
            There is no such path
        </h4>
    </NotFound>
</Router>